@import "../styleMixinComponents/mixins";

.sample {
  @include devices(mobile) {
  }

  @include devices(tablet) {
  }

  @include devices(ipad) {
  }

  @include devices(laptop) {
  }
}

.orderPageMainDiv {
  margin-top: 20px;
  padding: 0;
}
// imgContainer
.imgContainer {
  width: 100%;
  display: flex;
  gap: 5px;
}

.bigImgDiv {
  .bigImg {
    width: 685px;

    @include devices(mobile) {
      height: 183px;
      object-fit: cover;
    }

    @include devices(tablet) {
      height: 370px;
      object-fit: cover;
    }

    @include devices(ipad) {
      height: 370px;
      object-fit: cover;
    }

    @include devices(laptop) {
      height: 370px;
      object-fit: cover;
    }
  }
}

.smallTwoImgDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;

  justify-content: space-between;
  @include devices(mobile) {
    height: 183px;
  }

  @include devices(tablet) {
    height: 370px;
  }

  @include devices(ipad) {
    height: 370px;
  }

  @include devices(laptop) {
    height: 370px;
  }
}

.topsmallImgDiv {
  height: 100%;
  .topsmallImg {
    width: 200px;
    height: 100%;
    object-fit: cover;
  }
}

.bottomSmallImgDiv {
  height: 100%;
  .bottomSmallImg {
    width: 200px;
    height: 100%;
    object-fit: cover;
  }
}

.viewGalleryImgDiv {
  .viewGalleryImg {
    object-fit: cover;
    width: 220px;
    height: 100%;
  }
}

// imgContainer END

//restaurantInfoContainer
.restaurantInfoContainer {
  padding-top: 10px;
}

.nameRatingDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nameH1 {
  @include devices(mobile) {
    font-size: 24px;
    font-weight: 500;
    align-self: self-start;
  }

  @include devices(tablet) {
    font-size: 26px;
    font-weight: 500;
  }

  @include devices(ipad) {
    font-size: 28px;
    font-weight: 500;
  }

  @include devices(laptop) {
    font-size: 30px;
    font-weight: 500;
  }
}

.RatingDiv {
  display: flex;
  @include devices(mobile) {
    gap: 15px;
  }

  @include devices(tablet) {
    gap: 20px;
  }

  @include devices(ipad) {
    gap: 25px;
  }

  @include devices(laptop) {
    gap: 30px;
  }
}

.diningRatingDiv {
  display: flex;
  align-items: center;
  @include devices(mobile) {
    align-items: start;
    flex-direction: column;
    gap: 3px;
  }

  @include devices(tablet) {
    flex-direction: row;
    gap: 8px;
  }

  @include devices(ipad) {
    flex-direction: row;
    gap: 8px;
  }

  @include devices(laptop) {
    flex-direction: row;
    gap: 10px;
  }
}

.deliveryRatingDiv {
  display: flex;
  align-items: center;
  @include devices(mobile) {
    flex-direction: column;
    align-items: start;
    gap: 3px;
  }

  @include devices(tablet) {
    gap: 6px;
    flex-direction: row;
  }

  @include devices(ipad) {
    flex-direction: row;
    gap: 8px;
  }

  @include devices(laptop) {
    flex-direction: row;
    gap: 10px;
  }
}

.outerGreenDiv {
}

.greenDiv {
  background-color: green;
  display: flex;
  padding: 1px 4px;
  border-radius: 6px;
}

.rateNum {
  margin: 0 2px 0 0;
  padding: 0;
  color: white;
  @include devices(mobile) {
    font-size: 10px;
  }

  @include devices(tablet) {
    font-size: 14px;
  }

  @include devices(ipad) {
    font-size: 16px;
  }

  @include devices(laptop) {
    font-size: 17px;
  }
}

.starImg {
  width: 8px;
  height: auto;
}

.totalReviewDiv {
  display: flex;
  flex-direction: column;
}

.totalReview {
  @include devices(mobile) {
    font-size: 10px;
    font-weight: 500;
  }

  @include devices(tablet) {
    font-size: 12px;
    font-weight: 600;
  }

  @include devices(ipad) {
    font-size: 12px;
    font-weight: 600;
  }

  @include devices(laptop) {
    font-size: 14px;
    font-weight: 600;
  }
}

.reviewName {
  @include devices(mobile) {
    font-size: 12px;
  }

  @include devices(tablet) {
    font-size: 14px;
  }

  @include devices(ipad) {
    font-size: 14px;
  }

  @include devices(laptop) {
    font-size: 16px;
  }
}

.categoryAddressDiv {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 5px 0 0 0;
}

.categoryDiv {
  font-size: 1rem;
  opacity: 0.6;
  padding-bottom: 5px;

  .categoryLink {
    @include devices(mobile) {
      font-size: 14px;
      margin-right: 5px;
    }

    @include devices(tablet) {
      font-size: 14px;
      margin-right: 5px;
    }

    @include devices(ipad) {
      font-size: 14px;
      margin-right: 5px;
    }

    @include devices(laptop) {
      font-size: 16px;
      margin-right: 5px;
    }
  }
}

.addressDiv {
  font-size: 1rem;
  opacity: 0.4;
  padding-bottom: 5px;
}

.restaurantOpenCloseTimeDiv {
  opacity: 0.5;
  display: flex;
  font-size: 14px;

  span {
    color: rgb(255, 115, 0);
  }
}

.timeDiv {
  span {
    margin: 0 10px;
  }
}

.iconDiv {
  align-self: center;
  padding-left: 5px;
}

/////restaurantInfoContainer end

////directionBookMarkShareContainer

.directionBookMarkShareContainer {
  display: flex;
  align-items: center;
  height: 60px;
  margin-top: 15px;
  padding-bottom: 10px;
  font-weight: 300;
}

.directionDiv {
  margin: 0 10px 0 0;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  height: 36px;
  width: auto;

  .directionRightIcon {
    width: 16px;
    height: auto;
  }

  span {
    margin-left: 5px;
    font-size: 14px;
    color: #1c1c1c;
  }
}

////directionBookMarkShareContainer END

////featuresContainer

.featureContainer {
  opacity: 0.6;
  hr {
    background: #1a1919;
    height: 1px;
  }
}

.featuresDiv {
  display: flex;
}

.featureItemDiv {
  cursor: pointer;

  @include devices(mobile) {
    margin: 0 0 -1px 0;
  }

  @include devices(tablet) {
    margin: 5px 20px -1px 0;
  }

  @include devices(ipad) {
    margin: 5px 20px -1px 0;
  }

  @include devices(laptop) {
    margin: 5px 20px -1px 0;
  }

  h2 {
    @include devices(mobile) {
      font-size: 13px;
      margin: 5px 0;
      padding: 2px 5px;
    }

    @include devices(tablet) {
      font-size: 18px;
      margin: 3px 10px;
      padding: 5px 8px;
    }

    @include devices(ipad) {
      font-size: 18px;
      margin: 3px 10px;
      padding: 5px 8px;
    }

    @include devices(laptop) {
      font-size: 18px;
      margin: 3px 10px;
      padding: 5px 8px;
    }
  }
}

.underlinTextColorChangeClass {
  color: red;
  border-bottom: 2px solid red;
}
