@import "/components/styleMixinComponents/mixins";

.sample {
  @include devices(mobile) {
  }

  @include devices(tablet) {
  }

  @include devices(ipad) {
  }

  @include devices(laptop) {
  }
}

.socialLinksMainDiv {
  padding: 10px;
}

.socialLinksHeading {
  @include devices(mobile) {
    font-size: 10px;
    margin-bottom: 4px;
    letter-spacing: 1px;
    text-transform: capitalize;
  }

  @include devices(tablet) {
    font-size: 12px;
    margin-bottom: 8px;
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  @include devices(ipad) {
    font-size: 12px;
    margin-bottom: 8px;
    letter-spacing: 2.5px;
    text-transform: capitalize;
  }

  @include devices(laptop) {
    font-size: 14px;
    margin-bottom: 10px;
    letter-spacing: 3px;
    text-transform: capitalize;
  }
}

.socialLinksUl {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  li {
    margin-right: 10px;
  }

  li:last-child {
    margin-right: 0;
  }
}

.appPlayStoreImg {
  width: 125px;
  margin-top: 30px;
}
